a:focus{
    outline: none;
    background-color: black;
    color: white;
}
img:focus{
    outline: none;
    background-color: black;
    color: white;
  
}

h2:focus{
    outline: none;
    background-color: black;
    color: white;
}

h2:focus{
    outline: none;
    background-color: black;
    color: white;
}

h3:focus{
    outline: none;
    background-color: black;
    color: white;
}

body{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: round;

}

#titulo{
    color:#FFF;
    text-align: center;
    font-size: 4em;
}
#personagemAzul{
    background-image: url(../personagens/personagemAzul.png);
    width: 12em;
    height: 12em;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -12em;
    margin-left: 5em;
}
#personagemVerde{
    background-image: url(../personagens/personagemVerde.png);
    width: 12em;
    height: 12em;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -12em;
    margin-left: 5em;
}

#personagemAzulNome{
    color:#FFF;
    font-size: 1em;
    width: 9em;
    height: 9em;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 5em;
    margin-left: 2em;
}

#personagemVerdeNome{
    color:#FFF;
    font-size: 1em;
    width: 12em;
    height: 12em;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 5em;
    margin-left: 2em;
}

#inicioDoJogo{
    width: 450px;
    height: 300px;
    background-color: #FFF;
    margin-left: 22em;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
    position: absolute;
}
.camp1{
    margin-top: -13.6em;
    margin-left: 17em;
}
.camp2{
    margin-top: -10.3em;
    margin-left: 27em;

}
.camp3{
    margin-top: -9.7em;
    margin-left: 37em;
}
.camp4{
    margin-top: -9.7em;
    margin-left: 47em;
}
.camp5{
    margin-top: -9.7em;
    margin-left: 57em;
}
.camp6{
    margin-top: -9.7em;
    margin-left: 67em;
}
.camp7{
    margin-top: -0.9em;
    margin-left: 67em;
}
.camp8{
    margin-top: -0.9em;
    margin-left: 67em;
}
.camp9{
    margin-top: -9.7em;
    margin-left: 57em;
}
.camp10{
    margin-top: -9.7em;
    margin-left: 47em;
}
.camp11{
    margin-top: -9.7em;
    margin-left: 37em;
}
.camp12{
    margin-top: -9.7em;
    margin-left: 27em;
}
.camp13{
    margin-top: -9.7em;
    margin-left: 17em;
}
.camp14{
    margin-top: -9.7em;
    margin-left: 7em;
}
.camp15{
    margin-top: -1em;
    margin-left:7em;
}
.camp16{
    margin-top: -1em;
    margin-left:7em;
}
.camp17{
    margin-top: -9.7em;
    margin-left:17em;
}
.camp18{
    margin-top: -9.7em;
    margin-left:27em;
}
.camp19{
    margin-top: -9.7em;
    margin-left:37em;
}
.camp20{
    margin-top: -9.7em;
    margin-left:47em;
}
.camp21{
    margin-top: -9.7em;
    margin-left:57em;
}
.camp22{
    margin-top: -9.7em;
    margin-left:67em;
}
.camp23{
    margin-top: -1em;
    margin-left:67em;
}

.camp24{
    margin-top: -1em;
    margin-left:57em;
}

.camp25{
    margin-top: -9.7em;
    margin-left:67em;
}
.camp26{
    margin-top: -9.7em;
    margin-left:47em;
}

.final{
    margin-top: -13.7em;
    margin-left:30em;
}
.iniciar{
    margin-top: 10.4em;
}
#resultado{
    position: relative;
    float: left;
    width:15%;
    left: 62.5em;
    margin-top:2.5em;
}
.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;

}


#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:  #e2f740;
}

.fechar{display:block; 
        text-align:right; 
        display:none;
        border-top: 1px solid #010508;
        background: #0af525;
        background: -webkit-gradient(linear, left top, left bottom, from(#0ef529), to(#0af525));
        background: -webkit-linear-gradient(top, #0ef529, #0af525);
        background: -moz-linear-gradient(top, #0ef529, #0af525);
        background: -ms-linear-gradient(top, #0ef529, #0af525);
        background: -o-linear-gradient(top, #0ef529, #0af525);
        padding: 7.5px 15px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: #f7edf7;
        font-size: 12px;
        font-family: Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;


}

.button {
    border-top: 1px solid #010508;
    background: #c7e809;
    background: -webkit-gradient(linear, left top, left bottom, from(#c4e314), to(#c7e809));
    background: -webkit-linear-gradient(top, #c4e314, #c7e809);
    background: -moz-linear-gradient(top, #c4e314, #c7e809);
    background: -ms-linear-gradient(top, #c4e314, #c7e809);
    background: -o-linear-gradient(top, #c4e314, #c7e809);
    padding: 7.5px 15px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #f7edf7;
    font-size: 16px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}
.button2 {
    border-top: 1px solid #010508;
    background: #0857f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e7ef5), to(#0857f5));
    background: -webkit-linear-gradient(top, #0e7ef5, #0857f5);
    background: -moz-linear-gradient(top, #0e7ef5, #0857f5);
    background: -ms-linear-gradient(top, #0e7ef5, #0857f5);
    background: -o-linear-gradient(top, #0e7ef5, #0857f5);
    padding: 7.5px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #f7edf7;
    font-size: 8px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}

#chama{
    position: absolute;
    left: 40%;
    top: 30%;
}